<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>SIGN UP</title>
</head>

<body>
<div id="login-page">
    <div class="login">
        <h2 class="login-title">Sign Up</h2>
        <p class="notice">Please Sign Up to access the system</p>
        <form class="form-login" method="post" action="/register" th:object="${registerRequest}">
            <label>E-mail</label>
            <div class="input-email">
                <i class="fas fa-envelope icon"></i>
                <input type="email" name="email" placeholder="Enter your e-mail" required>
            </div>
            <label>Password</label>
            <div class="input-password">
                <i class="fas fa-lock icon"></i>
                <input type="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
            </div>
            <button type="submit"><i class="fas fa-door-open"></i> Sign Up</button>
            <div class="login-link-container">
                <p class="login-link">Arleady have an account?<a href="/login" > Login here</a></p>
            </div>
        </form>
    </div>



    <div class="background">
        <h1>Priotise your Mental Health</h1>
    </div>
</div>
</body>
</html>